<h1>Doctor: <%= @appointment.doctor.name %> </h1>
<h1>Doctor: <%= @appointment.patient.name %> </h1>

  <%= appointment_datetime.strftime("%B %d, %Y") %> - <%= link_to appt.patient.name, patient_path(appt.patient) %></li>